.chat {
  display: flex;
  flex-direction: column;
  flex: 0.65;
  height: 100vh;
  background-color: white;
}
.Chat__header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  background-color: #f5f5f5;
}
.Chat__header > h4 {
  font-weight: 500;
  color: gray;
}
.Chat__name {
  color: #000;
}
.chat__mesages {
  flex: 1;
  overflow-y: scroll;
}
.chat__input {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #f5f5f5;
  background-color: #f5f5f5;
}
.chat__input > form {
  flex: 1;
}
.chat__input > form > input {
  width: 70%;
  outline-width: 0;
  border: 1px solid lightgray;
  border-radius: 999px;
  padding: 5px;
}
.chat__input > form > button {
  border: none;
  background-color: #3e93fd;
  padding: 7px;
  cursor: pointer;
  border-radius: 20px;
}
.chat__input > form > button:hover {
  color: #fff;
}

.chat__mesages::-webkit-scrollbar {
  width: 13px !important;
  cursor: pointer;
}
.chat__mesages::-webkit-scrollbar-thumb {
  background-color: rgba(179, 179, 179);
  cursor: pointer;
}
.chat__mesages::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  cursor: pointer;
}
